body{
    background-color: black;
   text-align: center;
   cursor: url("/Users/christianbarker/Desktop/Projects/Project_1/Enemies/Cursors/Cursor.png");
}

.bootons{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 300px;
}

#hp{
    color:white;
}

#hp2{
    color:white;
}

#enemies{
    justify-content: center;
}

.NME{
    justify-items: center;
    width: 100px;
    height: 100px;
    margin: 13.5rem 13.5rem -14rem 31.5rem;
} 
#enemy_6{
    width:400px;
    height: 400px;
    margin: 10px -4.5rem;
}

.hidden{
    display: none;
    visibility: hidden;
}

