html{
    cursor: url("/Users/christianbarker/Desktop/Projects/Project_1/Enemies/Cursors/Cursor.png"),auto;
    
}
body{
    background-image:linear-gradient(to bottom, black,rgb(0, 0, 8));
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    
}

@keyframes shake {
    10%, 90%{
        transform: translate3d(-1px,0,0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.hit{
    animation: shake 0.82s cubic-bezier(0.36,0.07,.19,.97) both;
}
/*
https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
*/
#statbar{
    color:#add8e6;
}

.Trophies{
    display: flex;
    width: 4px;
    height: 4px;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

.hidden{
    display: none;
    visibility: hidden;
}

.hmm{
    display:inline;
}
#urHP{
    position: relative;
    justify-content:right;
    color: #add8e6;
    margin-left: 75%;
}
#NMEHP{
    position: relative;
    justify-content: right;
    color: #add8e6;
    margin-left: 75%;
}
.bootons{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    width: auto;
    height: auto;
}
#fight,#save,#Atk1,#Atk2,#Back{
    font-size: 10%;
    font-family: 'Press Start 2P',cursive;
    padding-top: 10px;
    padding-bottom: 10px;

}

.notNow{
    display: none;
    visibility: hidden;
}

#fight:hover,#save:hover,#Atk1:hover,#Atk2:hover,#Back:hover{
    cursor: url("/Users/christianbarker/Desktop/Projects/Project_1/Enemies/Cursors/CursorYes.png"),auto;
    background-color: #add8e6;
}


#fight:active,#save:active,#Atk1:active,#Atk2:active,#Back:active{
    background-color:hsl(195, 53%, 65%);
    transform: translateY(1.5px);
    transition-duration: 0.4s;
}

#hp{
    color:white;
}

#hp2{
    color:white;
}

#enemies{
    display: flex;
}

.NME{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin: auto;
   
    width: 150px;
    height: 150px;
    /* margin: 13.5rem 13.5rem -14rem 31.5rem; */
} 
#enemy_6{
    width:400px;
    height: 400px;
    margin: 10px -4.5rem;
}



